
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,'poppins';
}
body {
    color: #ededed;
    font-family: Outfit;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.Logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}


    .Logo::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: 4s;
    }



.navbar a{
font-size: 18px ;
color:#ededed;
text-decoration: none;
font-weight:500 ;
margin-left: 35px;
transition: 3s;
}


.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}


.home{
    height:100vh ;
    background:url(home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}


.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}


.contact-left-title h2 {
    font-weight: 600;
    color: #00abf0;
    font-size: 40px;
    margin-bottom: 5px;
}


.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #00abf0;
    border-radius: 10px;
    margin-bottom: 20px;
}


.contact-inputs {
    width: 400px;
    height:50px ;
    border: none;
    outline:none ;
    padding-left:25px ;
    font-weight: 500;
    color: #00abf0;
    border-radius: 50px;
}


.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}


.contact-inputs:focus{
    border: 2.5px solid #00abf0;
}


.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #00abf0;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #00abf0, #081b29);
    cursor: pointer;
}


.contact-container button img {
    color: #081b29;
}
.contact-left button img {
    height: 15px;
}


/* .contact-right img {
    width: 500px;
}
 */

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}


.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}


.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}


.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}


.home-sci a:hover::before {
    width: 100%;
}


.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 700px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    pointer-events: none;
}


.home-imgHover:hover {
    background: #081b29;
    opacity: .8;
}



.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 94%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
    z-index: 100;
}


@media (max-width:800px) {
    .contact-inputs{
        width:80vw ;
    }
   /*  .contact-right{
        display: none;
    } */
}

/* KEYFRAMES ANIMATION */

@keyframes showRight {
    100%{
        width: 0;
    }
} 

@keyframes manActiveHover {
    100% {
        pointer-events: auto;
    }
}
